*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'Muli', sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	margin-top: 2rem;
}

.components {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
}

h2 {
	color: #27aae1;
	font-size: 24px;
	line-height: 16px;
	font-weight: bold;
	font-style: normal;
	margin-bottom: 19px;
}
.card {
	background: #fff;
	border: #e3e3e3 1px solid;
	border-radius: 8px;
}
.card:hover {
	border-radius: 8px;
	box-shadow: 8px 6px 20px rgba(0, 0, 0, 0.13);
}
.output-img {
	width: 22px;
	margin-top: 31.67px;
	margin-left: 31.67px;
}

.image {
	background-color: #fff;
	height: 90px;
	width: 90px;
}
.image:hover {
	cursor: pointer;
}

.card-text {
	font-style: normal;
	font-weight: normal;
	line-height: 16px;
	color: #000;
}
